# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/../authServer/node_modules/
/../authServer/.env
/../communicationServer/node_modules/
/../communicationServer/.env
/../jobServer/node_modules/
/../jobServer/.env
